DIRECTUS_PORT=
DIRECTUS_EMAIL=
DIRECTUS_PASSWORD=

CLASSLINK_CLIENT_ID=
CLASSLINK_CLIENT_SECRET=

POSTGRES_DB=
POSTGRES_PASSWORD=
POSTGRES_PORT=
POSTGRES_USER=

SMTP_USER=
SMTP_PASSWORD=
PUBLIC_URL=
SECRET=

BACKUP_S3_KEY=
BACKUP_S3_BUCKET_NAME=
BACKUP_S3_REGION=