DIRECTUS_PORT=
DIRECTUS_EMAIL=
DIRECTUS_PASSWORD=

CLASSLINK_CLIENT_ID=
CLASSLINK_CLIENT_SECRET=

POSTGRES_DB=
POSTGRES_PASSWORD=
POSTGRES_PORT=
POSTGRES_USER=

SMTP_USER=
SMTP_PASSWORD=
PUBLIC_URL=
SECRET=

S3_KEY=
S3_SECRET=
S3_BUCKET=
S3_REGION=
